<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Grupo 2 Midi Videojuegos</span>
        <span class="d-none d-lg-block"><i class="fa-solid fa-gamepad"></i> G2Midi</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Acerca</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#ideacion">Ideación</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Prototipado</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Pruebas</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Decisiones</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Iteración</a></li>
        </ul>
    </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content ">
            <h1 class="mb-0 flex-row d-flex align-center align-items-center gap-3">
                Grupo #2
                <span class="text-primary">Videojuegos</span>
                <div class="social-icons">
                    <a class="social-icon" href="https://github.com/RicardoMolinaCoronel/portfolioDVJ"><i
                            class="fab fa-github"></i></a>
                </div>
            </h1>
            <div class="subheading">
                <ul>
                    <li>Michelle Rivadeneira</li>
                    <li>Ricardo Molina</li>
                    <li>Andres Toala</li>
                </ul>
            </div>
            <div>
                <p class="lead mb-5">Grupo de trabajo para la realizacion del videojuego orientado al proyecto MIDI.</p>
                <p class="lead mb-5">El presente trabajo tiene como objetivo la creación de un videojuego en el que se
                    puedan aplicar los conocimientos adquiridos en el curso de programación de videojuegos, con el fin
                    de
                    desarrollar habilidades en la programación de videojuegos y la utilización de motores de
                    videojuegos.
                    El videojuego será desarrollado en el motor de videojuegos Unity, en el lenguaje de programación C#.
                    En conjunto con la Facultad de Comunicación, Marketing y Diseño
                    <a class="" href="https://www.fadcom.espol.edu.ec/en" target="_blank">FADCOM</a> & <a class=""
                        href="http://midi.espol.edu.ec/Us" target="_blank">MIDI</a>.
                </p>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Ideation Section -->
    <section class="resume-section" id="ideacion">
        <div class="resume-section-content">
            <h2 class="mb-5 display-4">Ideación</h2>
            <h3>Etapa de Ideacion</h3>
            <p class="lead">En esta etapa se establecio ideas alternativas a las propuestas realizadas por MIDI,
                donde agregamos nuevas caracteristicas al videojuego propuesto o nuevas propuestas de ideas de
                videojuegos.
                Se realizo un analisis de posibles variantes del proyecto, teniendo en cuenta el principal objetivo del
                proyecto el cual es educar mediante juegos interactivos. Los post-it en color morado
                son las características adicionales al videojuego de rompecabezas propuesto</p>
            <div class="image-gallery">
                <div class="row">
                    <div>
                        <img src="ideacion/all-ideas.jpg" alt="ideacion" class="img-fluid">
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
            <h2 class="display-5">Ideas Destacables</h2>
            <div class="idea mb-5">
                <h2 class="display-6"><i class="fa-solid fa-gamepad"></i> Rompecabezas MIDI</h2>
                <p class="lead">Basado en las propuestas existentes del grupo MIDI, este juego se basa en desarrollar
                    diferentes rompecabezas con los personajes de MIDI con el objetivo de educar y enseñar mediante el
                    videojuego la importancia de aprender.</p>
                <h3>Caracteristicas clave e ideas complementarias</h3>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Agregar sistema de incentivacion al jugador (Visual o auditivo) al realizar una accion
                            correcta.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Agregar niveles de dificultad, el cual genera mas piezas de rompecabezas.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Al acabar un rompecabezas, contar una historia o cuento educativo como premio al jugador
                            usando personajes de MIDI.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Hacer uso de musica ambiental relacionado a la historia que se contara como premio para
                            incentivar al jugador durante el juego.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Agregar sistema de incentivacion al jugador (Visual o auditivo) al realizar una accion
                            correcta.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>En caso de ser necesario, incorporar ayudas que indiquen al jugador pistas de como
                            solucionar el rompecabezas.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Para aumento de dificultad, usar sistema de vidas que al acabarse reinicien el
                            juego.</span>
                    </li>
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>El cuento puede ser contado a medida que el jugador encaje las piezas.</span>
                    </li>
                </ul>
                <div class="image-gallery">
                    <div class="row">
                        <div>
                            <img src="ideacion/idea11.jpeg" alt="ideacion1" class="img-fluid">
                            <p class="lead"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="idea">
                <h2 class="display-6"><i class="fa-solid fa-gamepad"></i>MIDI Learn & Play</h2>
                <p class="lead">MIDI Learn & Play es un juego educativo basado en los personajes de MIDI, los cuales
                    mediante diferentes minijuegos fomentara el aprendizaje y el desarrollo de habilidades
                    fundamentales. Los minijuegos educativos se basaran en hacer las matematicas, la linguistica, las
                    ciencias naturales y el arte divertidos y desafiantes. <br>El objetivo del juego es superar la mayor
                    cantidad de minijuegos aleatorios hasta acabarse las 3 vidas <i class="fa-regular fa-heart"></i>.
                    Mientras mas avance en los minijuegos, mas dificil se pondra el juego.</p>
                <p class="font-italic">Idea obtenida de recordar el juego "Dumb Ways to Die"</p>
                <h3>Caracteristicas clave</h3>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Mientras mas supere los minijuegos, el jugador puede obtener estrellas o premios segun la
                            dificultad o el minijuego como recompensa.</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Los minijuegos se basan en formas divertidas de interactuar con el personaje y la
                            educacion</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Niveles adaptativos al nivel de habilidad del niño.</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Los minijuegos tienen un tiempo limite para superar, en caso de no superar se pierde una
                            vida.</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Jugador puede escoger un personaje de MIDI para que lo acompañe durante los
                            minijuegos.</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Uso de musica ambiental entretenida que mantenga la atencion del jugador.</span>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item align-items-center"><i class="fas fa-star text-warning"></i>
                        <span>Minijuegos interactivos con controles intuitivos y faciles de usar, adecuados para
                            niños.</span>
                    </li>
                </ul>
            </div>
            <div class="image-gallery">
                <div class="row">
                    <div>
                        <img src="ideacion/idea21.jpeg" alt="ideacion" class="img-fluid">
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Prototipado-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Prototipado</h2>
            <!--<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Protipo de bajo nivel</h3>
                    <div class="subheading mb-3">Subseccion</div>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the
                        day, going forward, a new normal that has evolved from generation X is on the runway heading
                        towards a streamlined cloud solution. User generated content in real-time will have multiple
                        touchpoints for offshoring.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Developer</h3>
                    <div class="subheading mb-3">Intelitec Solutions</div>
                    <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.
                        Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion
                        along the information highway will close the loop on focusing solely on the bottom line.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Junior Web Designer</h3>
                    <div class="subheading mb-3">Shout! Media Productions</div>
                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking
                        seamless key performance indicators offline to maximise the long tail. Keeping your eye on the
                        ball while performing a deep dive on the start-up mentality to derive convergence on
                        cross-platform integration.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Design Intern</h3>
                    <div class="subheading mb-3">Shout! Media Productions</div>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                        procrastinate B2C users after installed base benefits. Dramatically visualize customer directed
                        convergence without revolutionary ROI.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
            </div>-->
        </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" style="max-width: 100%;min-height:auto" id="juegos">
        <div class="resume-section-content">
            <h2 class="display-6">IDEACION: MINIJUEGOS - BRAINSTORMING</h2>

        </div>
    </section>
    <section class="resume-section" style="max-width: 100%;min-height:auto" id="juegos">
        <div class="resume-section-content">
            <h2 class="display-6">IDEACION: MINIJUEGOS - Fase Prototipo</h2>
            <div class="row gap-2">
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/musical-title.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/apple-title.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/cat-title.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/compras-title.jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/conejo-title.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/fishing-title.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/intruso-title.jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/vocal-title.png" alt="Card image cap">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img class="card-img-top" src="games/escondite-title.png" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="resume-section" style="max-width: 100%;" id="juegos-escogidos">
        <div class="resume-section-content">
            <h2 class="display-6">MINIJUEGOS ESCOGIDOS</h2>
            <p class="lead">
                De las 30 ideas de minijuegos revisadas, estas tres destacan por su alineación con los principios
                pedagógicos clave para
                niños del rango indicado por el equipo MIDI. Otros juegos pueden ser divertidos y educativos, pero estos
                tres específicamente
                abordan las áreas
                críticas de desarrollo cognitivo, sensorial y lingüístico, mientras que también fomentan habilidades
                motoras y
                creativas. Esto los convierte en una elección óptima para la edad y las necesidades de desarrollo de los
                niños en este
                rango de edad.</p>
            <div class="row gap-2">
                <div class="col-sm-5">
                    <div class="card">
                        <img class="card-img-top" src="games/musical-title.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa-solid fa-gamepad"></i> MINIJUEGO: ARCOIRIS MUSICAL</h5>
                            <p class="card-text">El objetivo del minijuego "Secuencia Musical" es que los niños repitan
                                una secuencia de colores y sonidos que se les
                                presenta. A medida que avanzan, las secuencias se vuelven más largas y complejas,
                                fomentando la memorización y la
                                repetición.</p>
                            <div class="accordion" id="accordion1">
                                <div class="card">
                                    <div class="accordion" id="accordion1">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game1.1">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse1.1"
                                                    aria-expanded="false" aria-controls="collapse1.1">
                                                    Mecánicas del Juego
                                                </button>
                                            </h2>
                                            <div id="collapse1.1" class="accordion-collapse collapse"
                                                aria-labelledby="game1.1" data-bs-parent="#accordion1">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Presentación
                                                                de
                                                                Secuencia</b>: El
                                                            juego muestra
                                                            una serie
                                                            de bloques que se iluminan en diferentes colores y
                                                            emiten sonidos únicos.</li>
                                                        <li class="list-group-item align-items-center"><b>Repetición de
                                                                Secuencia</b>: Después
                                                            de que la
                                                            secuencia
                                                            es presentada, los niños deben repetirla tocando
                                                            los bloques en el mismo orden.</li>
                                                        <li class="list-group-item align-items-center"><b>Incremento de
                                                                Dificultad</b>: Cada vez
                                                            que el niño
                                                            completa una secuencia, una nueva secuencia más larga y
                                                            compleja es presentada.</li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Retroalimentación
                                                                Inmediata</b>: El
                                                            juego
                                                            proporciona
                                                            feedback instantáneo, mostrando si la secuencia
                                                            fue correcta o incorrecta, y permite reintentar.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game1.2">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse1.2" aria-expanded="true"
                                                    aria-controls="collapse1.2">
                                                    Habilidades que Desarrolla el Niño
                                                </button>
                                            </h2>
                                            <div id="collapse1.2" class="accordion-collapse collapse show"
                                                aria-labelledby="game1.2" data-bs-parent="#accordion1">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Memoria</b>:
                                                            Los niños
                                                            deben recordar
                                                            y repetir
                                                            las
                                                            secuencias de colores y sonidos.</li>
                                                        <li class="list-group-item align-items-center"><b>Atención y
                                                                Concentración</b>: El juego
                                                            requiere
                                                            que los
                                                            niños presten atención a los detalles de las
                                                            secuencias.</li>
                                                        <li class="list-group-item align-items-center"><b>Coordinación
                                                                Visual y
                                                                Auditiva</b>:
                                                            Los niños
                                                            sincronizan
                                                            la vista (colores) con el oído (sonidos).
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game1.3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse1.3"
                                                    aria-expanded="false" aria-controls="collapse1.3">
                                                    Beneficios obtenidos
                                                </button>
                                            </h2>
                                            <div id="collapse1.3" class="accordion-collapse collapse"
                                                aria-labelledby="game1.3" data-bs-parent="#accordion1">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Desarrollo
                                                                Cognitivo</b>: Mejora la
                                                            capacidad de
                                                            memoria
                                                            y
                                                            la habilidad de recordar secuencias.</li>
                                                        <li class="list-group-item align-items-center"><b>Fomento de la
                                                                Atención</b>: Aumenta la
                                                            capacidad
                                                            de
                                                            concentración y atención
                                                            a los
                                                            detalles.</li>
                                                        <li class="list-group-item align-items-center"><b>Coordinación
                                                                Sensorial</b>: Desarrolla
                                                            la
                                                            habilidad de
                                                            coordinar la información visual y auditiva.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <a target="_blank"
                                href="https://www.figma.com/proto/w2ODfggODkJVPxg91qDsx9/MidiJuegos?node-id=132-706&t=R3OGm5nymNgTlya3-0&scaling=min-zoom&content-scaling=fixed&page-id=3%3A3&starting-point-node-id=127%3A967"
                                class="btn btn-primary">Ver en prototipo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card">
                        <img class="card-img-top" src="games/intruso-title.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa-solid fa-gamepad"></i> MINIJUEGO: ENCUENTRA AL INTRUSO
                            </h5>
                            <p class="card-text">El objetivo del minijuego "Encuentra al Intruso" es que los niños
                                identifiquen cuál de los cuatro animales en las cartas
                                no pertenece al mismo grupo o categoría. Este minijuego está diseñado para ayudar a los
                                niños a desarrollar habilidades
                                de observación, categorización y diferenciación.</p>
                            <div class="accordion" id="accordion2">
                                <div class="card">
                                    <div class="accordion" id="accordion2">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game2.1">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse2.1"
                                                    aria-expanded="false" aria-controls="collapse2.1">
                                                    Mecánicas del Juego
                                                </button>
                                            </h2>
                                            <div id="collapse2.1" class="accordion-collapse collapse"
                                                aria-labelledby="game2.1" data-bs-parent="#accordion2">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Presentación
                                                                de
                                                                Cartas</b>: Se presentan cuatro cartas en la
                                                            pantalla, cada una con una imagen de un animal.
                                                            Tres de las cartas muestran animales similares y 1 sera
                                                            diferente.</li>
                                                        <li class="list-group-item align-items-center"><b>Repetición de
                                                                Secuencia</b>: Después
                                                            de que la
                                                            secuencia
                                                            es presentada, los niños deben repetirla tocando
                                                            los bloques en el mismo orden.</li>
                                                        <li class="list-group-item align-items-center"><b>Selección del
                                                                Intruso</b>: El niño deberá observar las cartas y tocar
                                                            la carta que muestra el animal que no pertenece al mismo
                                                            grupo que los otros
                                                            tres.</li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Retroalimentación
                                                                Inmediata</b>: Si el niño selecciona correctamente, se
                                                            muestra una animación de felicitación y se pasa a la
                                                            siguiente ronda.
                                                            Si el niño selecciona incorrectamente, se muestra una
                                                            animación suave de corrección y se le da otra oportunidad
                                                            para
                                                            intentarlo.
                                                        </li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Niveles Progresivos</b>: A medida que el niño avanza, las
                                                            categorías de animales pueden volverse más variadas y
                                                            complejas (por ejemplo, animales
                                                            del zoo, animales marinos, etc.).
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game2.2">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse2.2" aria-expanded="true"
                                                    aria-controls="collapse2.2">
                                                    Habilidades que Desarrolla el Niño
                                                </button>
                                            </h2>
                                            <div id="collapse2.2" class="accordion-collapse collapse show"
                                                aria-labelledby="game2.2" data-bs-parent="#accordion2">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Observación y
                                                                Categorización</b>:
                                                            Mejoran la habilidad de observar detalles y diferencias
                                                            entre las imágenes, ademas de la capacidad de agrupar
                                                            objetos por similitudes.</li>
                                                        <li class="list-group-item align-items-center"><b>Pensamiento
                                                                Crítico</b>: Fomentan el pensamiento lógico y la toma de
                                                            decisiones.</li>
                                                        <li class="list-group-item align-items-center"><b>Motricidad
                                                                Fina</b>:
                                                            Practican la coordinación ojo-mano al tocar la pantalla para
                                                            seleccionar la carta correcta
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game2.3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse2.3"
                                                    aria-expanded="false" aria-controls="collapse2.3">
                                                    Beneficios obtenidos
                                                </button>
                                            </h2>
                                            <div id="collapse2.3" class="accordion-collapse collapse"
                                                aria-labelledby="game2.3" data-bs-parent="#accordion2">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Desarrollo
                                                                Cognitivo</b>: Ayuda a desarrollar habilidades
                                                            cognitivas esenciales, como la observación, la clasificación
                                                            y el razonamiento.</li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Autoestima</b>: Aumenta la confianza en sí mismos a
                                                            través de la retroalimentación positiva y el éxito en el
                                                            juego.
                                                        </li>
                                                        <li class="list-group-item align-items-center"><b>Diversión
                                                                Educativa</b>: Ofrece una forma divertida y atractiva de
                                                            aprender a través del juego.</li>
                                                        <li class="list-group-item align-items-center"><b>Atención y
                                                                Concentración</b>: Mejora la capacidad de atención y
                                                            concentración al enfocarse en las tareas y completar cada
                                                            ronda del juego.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <a target="_blank"
                                href="https://www.figma.com/proto/w2ODfggODkJVPxg91qDsx9/MidiJuegos?node-id=134-932&t=R3OGm5nymNgTlya3-0&scaling=min-zoom&content-scaling=fixed&page-id=3%3A3&starting-point-node-id=127%3A967"
                                class="btn btn-primary">Ver en prototipo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card">
                        <img class="card-img-top" src="games/intruso-title.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa-solid fa-gamepad"></i> MINIJUEGO: NOMBRE
                            </h5>
                            <p class="card-text">objetivo.</p>
                            <div class="accordion" id="accordion3">
                                <div class="card">
                                    <div class="accordion" id="accordion3">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game3.1">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse3.1"
                                                    aria-expanded="false" aria-controls="collapse3.1">
                                                    Mecánicas del Juego
                                                </button>
                                            </h2>
                                            <div id="collapse3.1" class="accordion-collapse collapse"
                                                aria-labelledby="game3.1" data-bs-parent="#accordion3">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Presentación
                                                                de
                                                                Cartas</b>: Se presentan cuatro cartas en la
                                                            pantalla, cada una con una imagen de un animal.
                                                            Tres de las cartas muestran animales similares y 1 sera
                                                            diferente.</li>
                                                        <li class="list-group-item align-items-center"><b>Repetición de
                                                                Secuencia</b>: Después
                                                            de que la
                                                            secuencia
                                                            es presentada, los niños deben repetirla tocando
                                                            los bloques en el mismo orden.</li>
                                                        <li class="list-group-item align-items-center"><b>Selección del
                                                                Intruso</b>: El niño deberá observar las cartas y tocar
                                                            la carta que muestra el animal que no pertenece al mismo
                                                            grupo que los otros
                                                            tres.</li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Retroalimentación
                                                                Inmediata</b>: Si el niño selecciona correctamente, se
                                                            muestra una animación de felicitación y se pasa a la
                                                            siguiente ronda.
                                                            Si el niño selecciona incorrectamente, se muestra una
                                                            animación suave de corrección y se le da otra oportunidad
                                                            para
                                                            intentarlo.
                                                        </li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Niveles Progresivos</b>: A medida que el niño avanza, las
                                                            categorías de animales pueden volverse más variadas y
                                                            complejas (por ejemplo, animales
                                                            del zoo, animales marinos, etc.).
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game3.2">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse3.2" aria-expanded="true"
                                                    aria-controls="collapse3.2">
                                                    Habilidades que Desarrolla el Niño
                                                </button>
                                            </h2>
                                            <div id="collapse3.2" class="accordion-collapse collapse show"
                                                aria-labelledby="game3.2" data-bs-parent="#accordion3">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Observación y
                                                                Categorización</b>:
                                                            Mejoran la habilidad de observar detalles y diferencias
                                                            entre las imágenes, ademas de la capacidad de agrupar
                                                            objetos por similitudes.</li>
                                                        <li class="list-group-item align-items-center"><b>Pensamiento
                                                                Crítico</b>: Fomentan el pensamiento lógico y la toma de
                                                            decisiones.</li>
                                                        <li class="list-group-item align-items-center"><b>Motricidad
                                                                Fina</b>:
                                                            Practican la coordinación ojo-mano al tocar la pantalla para
                                                            seleccionar la carta correcta
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="game3.3">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse3.3"
                                                    aria-expanded="false" aria-controls="collapse3.3">
                                                    Beneficios obtenidos
                                                </button>
                                            </h2>
                                            <div id="collapse3.3" class="accordion-collapse collapse"
                                                aria-labelledby="game3.3" data-bs-parent="#accordion3">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item align-items-center"><b>Desarrollo
                                                                Cognitivo</b>: Ayuda a desarrollar habilidades
                                                            cognitivas esenciales, como la observación, la clasificación
                                                            y el razonamiento.</li>
                                                        <li class="list-group-item align-items-center">
                                                            <b>Autoestima</b>: Aumenta la confianza en sí mismos a
                                                            través de la retroalimentación positiva y el éxito en el
                                                            juego.
                                                        </li>
                                                        <li class="list-group-item align-items-center"><b>Diversión
                                                                Educativa</b>: Ofrece una forma divertida y atractiva de
                                                            aprender a través del juego.</li>
                                                        <li class="list-group-item align-items-center"><b>Atención y
                                                                Concentración</b>: Mejora la capacidad de atención y
                                                            concentración al enfocarse en las tareas y completar cada
                                                            ronda del juego.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <a target="_blank"
                                href="https://www.figma.com/proto/w2ODfggODkJVPxg91qDsx9/MidiJuegos?node-id=134-932&t=R3OGm5nymNgTlya3-0&scaling=min-zoom&content-scaling=fixed&page-id=3%3A3&starting-point-node-id=127%3A967"
                                class="btn btn-primary">Ver en prototipo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Prototipo final -->
    <section class="resume-section" style="min-height: auto;" id="juegos-escogidos">
        <div class="resume-section-content">
            <h2 class="display-6">PROTOTIPO FINAL</h2>
            <p class="lead">El prototipo final de los minijuegos se ha desarrollado en Figma, una herramienta de diseño
                de interfaz de usuario
                basada en la web. El prototipo final incluye los tres minijuegos seleccionados, cada uno con sus
                respectivas mecánicas, habilidades
                que desarrolla el niño y beneficios obtenidos. Los minijuegos se han diseñado con una estética colorida
                y atractiva, con personajes
                y elementos visuales que atraen a los niños y los mantienen comprometidos y entretenidos.</p>
            <div class="row gap-2">
                <a target="_blank"
                    href="https://www.figma.com/proto/w2ODfggODkJVPxg91qDsx9/MidiJuegos?node-id=127-967&t=7i2jPo3ZkS2mgHVj-0&scaling=min-zoom&content-scaling=fixed&page-id=3%3A3&starting-point-node-id=127%3A967"
                    class="btn btn-primary">Prototipo final</a>
                <a target="_blank"
                    href="https://www.figma.com/design/w2ODfggODkJVPxg91qDsx9/MidiJuegos?node-id=3-3&t=7i2jPo3ZkS2mgHVj-1"
                    class="btn btn-primary">Diseño del prototipo</a>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="src/js/scripts.js"></script>